// Wrapper
// ======================
.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}

.main-body {
  position: relative;
  z-index: $layer-main-body;
}

// Header
// ======================

// Navigation
// =========================
