// Wrapper
// ======================
.wrapper {
  max-width: $wrapper-width;
  margin: 0 auto;
}

.main-body {
  position: relative;
  top: $header-height;
  z-index: $layer-main-body;
}

.window-shade {
  transition: $transtion-drawer;
  opacity: 0.75;
  z-index: 20;
  top: $header-height;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  background: $color-black;
  display: none;

  &.active {
    display: block;
    @include breakpoint(tablet) {
      display: none !important;
    }
  }
}

// Header
// ======================

// Navigation
// =========================
