@import './src/styles/base/settings';

.lightbox {
  transition: $transtion-drawer;
  z-index: $layer-lightbox;
  top: $header-height +5;
  left: 15px;
  bottom: 15px;
  right: 15px;
  overflow: hidden;
  position: fixed;
  display: none;

  img {
    max-height: 100vh;
  }

  &.active {
    display: flex;
    justify-content: space-around;
  }
}
