@import './src/styles/base/settings';

.lightbox {
  transition: $transtion-drawer;
  z-index: 20;
  top: $header-height + 30;
  left: 75px;
  right: 75px;
  overflow: hidden;
  position: fixed;
  display: none;

  img {
    max-width: 100%;
  }

  &.active {
    display: block;
  }
}
