// Place state change stylesheets in these files (non-module-specific shared classes)

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-middle {
  vertical-align: middle;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.floated-links {
  float: right;
  padding: $base-unit-quarter;
}

.floated-links > a {
  margin-left: $base-unit;
}

.full-results td ul {
  padding-left: 1.3em;
}

.full-results td li {
  list-style-type: disc;
}

.display-block {
  display: block;
}

.bottom-space-small {
  padding-bottom: $base-unit-half;
}

.bottom-space-large {
  padding-bottom: $base-unit * 2;
}

.indented {
  margin-left: 20px;
}

.selected {
  background-color: pink !important;
}

.pad-right {
  padding-right: $base-unit-quarter;
}

.pad-left {
  padding-left: $base-unit-quarter;
}

.vertical-align-container {
  display: flex;
  align-items: center;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.invisible {
  visibility: hidden;
}

.slide {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: max-height 300ms;
}

.slide-hide {
  max-height: 0;
}

.slide-show {
  max-height: 80em;
}

.shadow {
  @include default-box-shadow();
}

.error {
  border: 1px solid red;
}

.preserve-space {
  white-space: pre-line;
}

.no-wrap {
  white-space: nowrap;
}

.strike {
  text-decoration: line-through;
}

.tag-spacer {
  padding: 75px;
}

.inline-spacer {
  padding: 0 $base-unit-half;
}

.hand {
  cursor: pointer;
}

.move {
  cursor: move;
}

.full-width {
  width: 100%;
}

.truncate {
  max-height: $base-unit * 9;
  overflow-y: auto;
  display: block;
}

.extra-spacing {
  padding: 2em;
}

.prewrap {
  white-space: pre-wrap;
}

// Fixes bug/feature in Firefox that makes :invalid fields glow
:invalid {
  box-shadow: none;
}

:-moz-submit-invalid {
  box-shadow: none;
}

:-moz-ui-invalid {
  box-shadow:none;
}

.close {
  cursor: pointer;
}
