@import './src/styles/base/settings';
$comic-img-width: 80px;

.comics-list {
  ul {
    border-top: 1px solid #000;
    padding-top: 40px;
    padding-left: 0;
  }

  li {
    list-style-type: none;
    font-size: 18px;
    border-bottom: 1px solid #000;
    display: flex;
    padding: $base-unit;

    .comic-img {
      flex: 0 0 $comic-img-width;
      width: $comic-img-width;
      padding-right: $base-unit;
      transition: $transtion-drawer;
    }

    .comic-details {
      flex: 1 1 auto;
      max-height: 92px;
      transition: all 0.7s ease-in-out;
      overflow-y: hidden;
      h3 {
        font-weight: normal
      }
    }

    .comic-expand {
      flex: 0 1 auto;
      align-self: flex-start;
      cursor: pointer;
      font-size: 24px;
      font-weight: bold;
      padding-left: $base-unit-half;
      transition: $transtion-drawer;
    }

    &.expanded {
      .comic-img {
        flex: 0 1 $comic-img-width * 2;
        width: $comic-img-width * 2;
      }
      .comic-details  {
        max-height: 500px;
      }
      .comic-details h3 {
        font-weight: bold;
      }
      .comic-expand {
        transform: rotate(-90deg);
      }
    }

    &:nth-of-type(odd) {
      background: #dcdcdc;
    }
  }

  .detail-entry {
    h6 {
      margin-bottom: 0;
    }
    p {
      margin-bottom: $base-unit-quarter;
    }
    @include breakpoint(laptop) {
      display: flex;
      h6 {
        margin-bottom: $base-unit-quarter;
        padding-right: $base-unit-quarter;
      }
      p {
        flex-grow: 1;
      }
    }
  }

  .detail-area {
    margin-bottom: $base-unit;
  }
}
