@import './src/styles/base/settings';

.filter-controls {
  padding: $base-unit-half;
  margin: $base-unit-half;
  border: 1px solid $color-black;
  border-radius: $base-rounded-corners;

  select {
    margin-bottom: $base-unit-half;
  }

  button {
    border-radius: $base-rounded-corners;
    margin-bottom: $base-unit-half;
    display: block;
    padding: $base-unit-half $base-unit-quarter;

    &.active {
      color: $color-white;
      background: $color-black;
    }
  }
}
