.tier > p {
  font-weight: bold;
  padding: 0.5em;
  margin: 0;
}

.tier-great {
  background-color: #3dad3c;
}

.tier-high {
  background-color: #9370ff;
}

.tier-good {
  background-color: red;
}

.tier-medium {
  background-color: #ff8100;
}

.tier-low {
  background-color: #787878;
  color: #efefef;
}

@mixin breakpoint() {
  @media (max-width: 37.5em)  { @content ; }
}

section.movie {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  margin-left: 0.25em;
  position: relative;
}

section.movie.gotg {
  background-image: url('../../images/gotg.jpg')
}
section.movie.strange {
  background-image: url('../../images/strange.jpg')
}
section.movie.gotg2 {
  background-image: url('../../images/gotg2.jpg')
}
section.movie.panther {
  background-image: url('../../images/panther.jpg')
}
section.movie.thor3 {
  background-image: url('../../images/thor3.jpg')
}
section.movie.avengers3 {
  background-image: url('../../images/avengers3.jpg')
}
section.movie.iron3 {
  background-image: url('../../images/iron3.jpg')
}
section.movie.ant2 {
  background-image: url('../../images/ant2.jpg')
}
section.movie.avengers4 {
  background-image: url('../../images/avengers4.jpg')
}
section.movie.spidey2 {
  background-image: url('../../images/spidey2.jpg')
}
section.movie.spidey {
  background-image: url('../../images/spidey.jpg')
}
section.movie.cap2 {
  background-image: url('../../images/cap2.jpg')
}
section.movie.avengers {
  background-image: url('../../images/avengers.jpg')
}
section.movie.carol {
  background-image: url('../../images/carol.jpg')
}
section.movie.ant {
  background-image: url('../../images/ant.jpg')
}
section.movie.avengers2 {
  background-image: url('../../images/avengers2.jpg')
}
section.movie.cap3 {
  background-image: url('../../images/cap3.jpg')
}
section.movie.cap {
  background-image: url('../../images/cap.jpg')
}
section.movie.thor2 {
  background-image: url('../../images/thor2.jpg')
}
section.movie.thor {
  background-image: url('../../images/thor.jpg')
}
section.movie.iron {
  background-image: url('../../images/iron.jpg')
}
section.movie.iron2 {
  background-image: url('../../images/iron2.jpg')
}
section.movie.hulk {
  background-image: url('../../images/hulk.jpg')
}

.clarify {
  border-radius: 1em;
  padding: 0.25em;
  background: #1484C8;
  color: #fff;
  opacity: 0.9;
}

.title {
  left: 1em;
  position: absolute;
  top: 1em;
  padding: 3px 6px;
  font-size: 32px;
  font-weight: bold;
  @include breakpoint() {
    padding: 0 3px;
    font-size: 22px;
  }
}

.ranking {
  left: 1em;
  position: absolute;
  bottom: 1em;
  font-weight: bold;
  padding: 3px 6px;
  font-size: 24px;
  @include breakpoint() {
    padding: 0 3px;
    font-size: 16px;
  }
}
