// Improved method of handling box sizing
// Aug '14
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  color: $color-black;
  height: 100%;
}

a {
  color: $color-white;
  text-decoration: none;
  transition: $transtion-drawer;
}

// IMO top margins are annoying - MS
// Standard block text lements should push the one below away
h1, h2, h3, h4, h5, h6, p, dl, ol, table {
  margin-top: 0;
  margin-bottom: $base-unit-half;
}

dd {
  margin-left: 0;
}

// Clean UL spacing
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

table {
  @extend %text-small;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead tr {
  font-family: $base-font-family-bold;
}

td,
th {
  padding: $base-unit-half $base-unit-quarter;
  border: 1px solid #ccc;
  position: relative;
  text-align: left;
  vertical-align: top;
  word-wrap:break-word;
}

input[type=checkbox] {
  width: auto;
  transition: box-shadow 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;

  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}
