// Improved method of handling box sizing
// Aug '14
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  color: $color-black;
}

a {
  -webkit-transition: $link-transition-property $link-transition-speed $link-transition-type;
  -moz-transition: $link-transition-property $link-transition-speed $link-transition-type;
  -o-transition: $link-transition-property $link-transition-speed $link-transition-type;
  transition: $link-transition-property $link-transition-speed $link-transition-type;
  color: $color-royal;
}

// IMO top margins are annoying - MS
// Standard block text lements should push the one below away
h1, h2, h3, h4, h5, h6, p, ul, dl, ol, table {
  margin-top: 0;
  margin-bottom: $base-unit;
}

dd {
  margin-left: 0;
}

// Clean UL spacing
ul {
  list-style-type: none;
}

table {
  @extend %text-small;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

thead tr {
  background: $color-agua;
  font-family: $base-font-family-bold;
}

tbody tr:nth-child(even) {
  background-color: $color-ltltgrey;
}

td,
th {
  padding: $base-unit-half $base-unit-quarter;
  border: 1px solid $color-ltgrey;
  position: relative;
  text-align: left;
  vertical-align: top;
  word-wrap:break-word;
}

input:focus {
  background: $color-caution;
}

input[type=checkbox] {
  width: auto;
  transition: box-shadow 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;

  &:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }
}

%but,
.but,
button {
  background: $color-ltgrey;
  border: none;
  color: $color-royal;
  cursor: pointer;
  display: inline-block;
  min-width: 100px;
  padding: $base-unit-half $base-unit;
  text-align: center;
  text-decoration: none;

  @extend %text-normal;
  @include border-radius($base-rounded-corners);

  &.active,
  &:active {
    background: $color-medgrey;
    color: $color-white;
  }

  &:hover {
    background-color: $color-agua;
    color: $color-black;
  }

  &.short {
    min-width: 10px;
  }
}
button.cancel {
  background: none;
  padding: $base-unit-half 0;
  outline-width: 0;
}

button.message {
  @extend %text-normal;
  display: inline-block;
  padding: $base-unit-half;
  text-align: right;
  text-decoration: none;
}

button.cancel.small {
  padding: $base-unit-half $base-unit;
  min-width: 10px;
  font-size: $base-unit;
}

a.but-selection {
  text-decoration: none;

  &:active {
    background: $color-gold;
    color: $color-royal;
  }
}

button {
  @extend %but;
  background: $color-royal;
  color: $color-white;

  &.active,
  &:active {
    background: $color-gold !important;
    color: $color-royal !important;
  }

  &:hover {
    background-color: $color-pool;
    color: $color-white;
  }

  @include default-box-shadow();
}

button.state {
  @extend %but;
  color: $color-black;
  min-width: 70px;
  outline: none !important;

  &.active,
  &:active {
    background: $color-royal !important;
    color: $color-gold !important;
  }

  &:hover {
    background-color: $color-ltgrey;
    color: $color-black;
  }

}

button.small {
  @extend %but;
  background: $color-royal;
  color: $color-white;
  padding: $base-unit-half $base-unit;
  min-width: 10px;
  font-size: $base-unit;

  &.active,
  &:active {
    background: $color-gold !important;
    color: $color-royal !important;
  }

  &:hover {
    background-color: $color-pool;
    color: $color-white;
  }

  @include default-box-shadow();
}

button.tiny {
  @extend %but;
  background: $color-royal;
  color: $color-white;
  padding: $base-unit-quarter;
  min-width: 10px;
  font-size: $base-unit;

  &.active,
  &:active {
    background: $color-gold !important;
    color: $color-royal !important;
  }

  &:hover {
    background-color: $color-pool;
    color: $color-white;
  }

  @include default-box-shadow();
}
button[disabled] {
  opacity: 0.2;
}
